version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: nexus_postgres
    environment:
      POSTGRES_DB: nexusdb
      POSTGRES_USER: nexus
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - nexus-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: nexus_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - nexus-network

  server:
    build: ./server
    container_name: nexus_server
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/nexusdb
      SPRING_DATASOURCE_USERNAME: nexus
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - nexus-network

  client:
    build: ./client
    container_name: nexus_client
    ports:
      - "5173:80"
    environment:
        - VITE_API_URL=http://localhost:8080/api
    depends_on:
      - server
    networks:
      - nexus-network

networks:
  nexus-network:
    driver: bridge

volumes:
  postgres_data:
